 
 
        <h2>nos livres </h2>


<table>
    <tr>
      <th>Titre</th>
      <th>QTE</th>
      <th>Actions</th>
      
    </tr>
    {% for book in books %}
    <tr>
      <td>{{ book.title }}</td>
      <td>{{book.quantity}}</td>
      <td><a href="{% url 'manga:show' book.id %}">Voir détails</a></td>
      <td><a href="{% url 'manga:edit' book.id %}">modifier</a></td>  
      <td><a href="{% url 'manga:delete' book.id %}">supprimer</td>    
      <td><a href="{% url 'manga:add'  %}">Ajouter</td>    
    </tr>
    {% endfor %}
  </table>