
{%  load static %}
{%  load customtags%}
{% comment %}
if user.is_authenticated%}
    <p>connecté sous {{user.username}} | <a href="{% url 'accounts:logout_user'%}">deconnexion</a></p>
{% else %}
    <p><a href="{% url 'accounts:login_user'%}">Connexion </a></p>
    <p><a href="{% url 'accounts:register_user'%}">inscription </a></p>

{% endif %}
{% endcomment %}
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ma page HTML</title>
    <link rel="stylesheet" href={% static "manga/css/style.css" %}>
    
</head>
<body>

<h1>Bienvenue sur  top manga</h1>
  
    <p>{% hello_world username %}     {%now "d/m/Y"%} </p>
    <p>{{message}}</p>

    {% comment %}
       <p>ceci est la façon de faire pour mettre en commentaire sur djangi </p>
    {% endcomment %}
    {% comment %} ceci est un moyen de generer un texte aleatoire {% endcomment %}
    {% lorem 5 p random %}


        <h2>vos dernier livre consultés</h2>
    <ul>
        {%for u in userList%}
            <li>{{u}}</li>
        {% endfor %}
    </ul>
  
    </ul>
</body>
</html>
{% include 'manga/footer.html' %} 